{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Desarrollo Web con Symfony 5</h1>
    <h3>
        «Symfony es un conjunto de componentes PHP, un marco de aplicación web, una filosofía y una comunidad, todos trabajando juntos en armonía. »
    </h3>     
    <p>
        Symfony es todo lo que esperarías de un framework: velocidad, flexibilidad, componentes reutilizables, etc. Luego está la estructura de lo que se ha desarrollado y el uso de las mejores prácticas. 
    </p>
    <p>
        ¡No está mal!
    </p>
    <div class="box">
        <h3>Aprende</h3>
        <p>
            ¡No puedes equivocarte eligiendo Symfony! Y nadie ha sido despedido por usar Symfony.
        </p>
    </div>

    <a href="/register" class="btn btn-primary">Registrese!</a>
    ó si ya está registrado haga click en
    <a href="/login">Iniciar Sesión</a>

{% endblock %}
