<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog Symfony 5!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">        

        {% include 'menu.html.twig' %}
  
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        </div>
    
        <script src="{{ asset('build/app.js') }}"></script>  
        {% block javascripts %}{% endblock %}
    </body>
</html>
