{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            {% include 'post/list.html.twig' %}
        </div>
        <div class="col-md-9">
            {% set show = false %}
            {% for post in posts %}
                {% include 'post/card.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <div class="navigation">
                {{ knp_pagination_render(posts) }}
            </div>
        </div>
    </div>

{% endblock %}
