<ul>
    {% for post in posts %}
        <li>
            <a href="{{ path('posts_show', {'id': post.id}) }}" class="btn-link">
                {{ post.title }}
            </a>
        </li>
    {% endfor %}
</ul>